.map-container {
  width: 100%;
  height: 100%;
}

.map-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  pointer-events: auto;
}

.start-marker {
  /* Флажок старта - зеленый */
}

.end-marker {
  /* Флажок финиша - красный */
}

